{% extends "base.html.twig" %}

{% block content %}
    <h1>
        Prayer Requests
    </h1>
    <p>&nbsp;</p>
    <ul class="lead">
        {% for prayer in prayers %}
            <li class="animated fadeInUp">{{prayer}}</li>
        {% endfor %}
    </ul>
{% endblock %}
