{% extends "base.html.twig" %}

{% block content %}
    <h1 class="cover-heading">
        Prayer Requests
    </h1>
    <p>&nbsp;</p>
    <ul class="lead">
        {% for prayer in prayers %}
            <li>{{prayer}}</li>
        {% endfor %}
    </ul>
{% endblock %}
