{% extends "base.html.twig" %}

{% block content %}
    <h1>
        Synchronization
    </h1>
    <p class="lead">
        Sync Complete.  Processed {{count}} records.
    </p>

    <pre class="prettyprint">
        {{ dump(response) }}
    </pre>

    <p class="lead">
        <a href="{{ url('index') }}"><i class="fa fa-home"></i></a>
    </p>
{% endblock %}
