body {
    background: rgb(52, 37, 57);
    color: rgb(244, 244, 244);
    font-family: 'Lato', sans-serif;
}

ul {
    margin-top: 5em;
}

li {
    font-size: 2em;
    margin-bottom: 1em;
}

.banner > img {
    position: absolute;
    left: 0;
    bottom: 0px;
}

.bg-bars {
    position: absolute;
    right: 0;
    width: 50%;
    overflow: hidden;
    height: 100%;
}

.bg-bars > .bar {
    position: absolute;
    right: 0;
    width: 800px;
    height: 2000px;
    background: rgba(130, 185, 223, 0.4);
}

.bg-bars > .bar-1 {
    transform: rotate(30deg);
    right: -300px;
}

.bg-bars > .bar-2 {
    transform: rotate(15deg);
    right: -640px;
}

.bg-bars > .bar-3 {
    transform: rotate(-40deg);
    right: -900px;
    top: -500px;
}

.bg-bars > .bar-4 {
    transform: rotate(-50deg);
    right: -1000px;
    top: -750px;
}
